header {
    width: 100%;
    background-color: #253C5B;
    color: #FFFFFF;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;

        a {
            color: #FFFFFF;
            transition: ease 0.2s;
        }
        a:hover {
            color: #ffffffbd
        }
    }
}